.navbar{
    border: 1px solid #393D3F;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    background-color: transparent;
    position: fixed;
    width: 100%;
    color: #FDFDFF;
    z-index: 100;
}

.navbar.scrolled {
    background-color: #393D3F;
    color: #FDFDFF;
}

.navbar.scrolled .navbar-a{
    color: #FDFDFF;
}

.navbar.scrolled #boton-ingresar{
    background-color: #FDFDFF;
    color: #393D3F;
    transition: color .3s ease-in-out;
}

.navbar-menu{
    display: none;
    cursor: pointer;
    border-radius: 10px;
}

.navbar-ul {
    display: flex;
    justify-content: center;
}

.navbar-li {
    list-style-type: none;
    transition: transform .3s ease-in-out;
    padding: 10px;
}

.navbar-li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.navbar-a{
    color: #FDFDFF;
    text-decoration: none;
    transition: color 0.3s ease;
}




#boton-redirect{
    background-color: #393D3F;
    color: #FDFDFF;
    padding: 10px;
    transition: transform .3s ease-in-out;
    border-radius: 5px;
}

#boton-redirect:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 550px){
    .navbar{
        justify-content: space-between;
    }
    .navbar.scrolled .navbar-menu{
        background-color: #FDFDFF;
    }
    .navbar-ul{
        display: none;
        position: absolute;
        top: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #393D3F;
        width: 100%;
        padding: 10px;
        margin: 0px;
    }
    .navbar-menu{
        display: block;
    }

    

@media (min-width: 551px){
    .navbar-ul{
        display: block;
    }
    .navbar-menu{
        display: none;
    }
}


}